In [1]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
X = np.array([
    [1, -1, 2, 3],
    [2, 0, 0, 3],
    [0, 1, -10, 3]
], dtype=np.float64)

In [3]:
scaler = MinMaxScaler(feature_range=(0,1))
scaler.fit(X)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [4]:
# 原始特征属性的最大值
print(scaler.data_max_)
# 原始特征属性的最小值
print(scaler.data_min_)
# 原始特征属性的取值范围大小(最大值-最小值)
print(scaler.data_range_)

[ 2.  1.  2.  3.]
[  0.  -1. -10.   3.]
[  2.   2.  12.   0.]

In [5]:
print(scaler.transform(X))

[[ 0.5         0.          1.          0.        ]
 [ 1.          0.5         0.83333333  0.        ]
 [ 0.          1.          0.          0.        ]]

In [6]:
import pandas as pd
pd.DataFrame(X).describe()

         0    1          2    3
count  3.0  3.0   3.000000  3.0
mean   1.0  0.0  -2.666667  3.0
std    1.0  1.0   6.429101  0.0
min    0.0 -1.0 -10.000000  3.0
25%    0.5 -0.5  -5.000000  3.0
50%    1.0  0.0   0.000000  3.0
75%    1.5  0.5   1.000000  3.0
max    2.0  1.0   2.000000  3.0

In [7]:
pd.DataFrame(scaler.transform(X)).describe()

          0     1         2    3
count  3.00  3.00  3.000000  3.0
mean   0.50  0.50  0.611111  0.0
std    0.50  0.50  0.535758  0.0
min    0.00  0.00  0.000000  0.0
25%    0.25  0.25  0.416667  0.0
50%    0.50  0.50  0.833333  0.0
75%    0.75  0.75  0.916667  0.0
max    1.00  1.00  1.000000  0.0