In [1]:
from sklearn.preprocessing import StandardScaler

In [2]:
X = [
    [1, 2, 3, 2],
    [7, 8, 9, 2.01],
    [4, 8, 2, 2.01],
    [9, 5, 2, 1.99],
    [7, 5, 3, 1.99],
    [1, 4, 9, 2]
]
x_test = [
    [12,11,13,12],
    [5,6,7,9]
]

In [3]:
ss = StandardScaler(with_mean=True, with_std=True)
ss.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [4]:
# 计算每个特征属性的均值
print(ss.mean_)
print(ss.n_samples_seen_)
# 输出每个特征属性的方差
print(ss.scale_)

[ 4.83333333  5.33333333  4.66666667  2.        ]
6
[ 3.07769755  2.13437475  3.09120617  0.00816497]

In [5]:
# 相当于对训练集做一个数据转换
print(ss.transform(X))
# 相当于对测试集做一个数据转换
print(ss.transform(x_test))

[[-1.24551983 -1.56173762 -0.53916387  0.        ]
 [ 0.70398947  1.2493901   1.40182605  1.22474487]
 [-0.27076518  1.2493901  -0.86266219  1.22474487]
 [ 1.3538259  -0.15617376 -0.86266219 -1.22474487]
 [ 0.70398947 -0.15617376 -0.53916387 -1.22474487]
 [-1.24551983 -0.62469505  1.40182605  0.        ]]
[[  2.32858055e+00   2.65495395e+00   2.69581933e+00   1.22474487e+03]
 [  5.41530361e-02   3.12347524e-01   7.54829412e-01   8.57321410e+02]]

In [6]:
import pandas as pd
pd.DataFrame(X).describe()

              0         1         2         3
count  6.000000  6.000000  6.000000  6.000000
mean   4.833333  5.333333  4.666667  2.000000
std    3.371449  2.338090  3.386247  0.008944
min    1.000000  2.000000  2.000000  1.990000
25%    1.750000  4.250000  2.250000  1.992500
50%    5.500000  5.000000  3.000000  2.000000
75%    7.000000  7.250000  7.500000  2.007500
max    9.000000  8.000000  9.000000  2.010000

In [7]:
pd.DataFrame(ss.transform(X)).describe()

                  0             1             2             3
count  6.000000e+00  6.000000e+00  6.000000e+00  6.000000e+00
mean   7.401487e-17  1.295260e-16 -7.401487e-17 -9.029814e-15
std    1.095445e+00  1.095445e+00  1.095445e+00  1.095445e+00
min   -1.245520e+00 -1.561738e+00 -8.626622e-01 -1.224745e+00
25%   -1.001831e+00 -5.075647e-01 -7.817876e-01 -9.185587e-01
50%    2.166121e-01 -1.561738e-01 -5.391639e-01  0.000000e+00
75%    7.039895e-01  8.979991e-01  9.165786e-01  9.185587e-01
max    1.353826e+00  1.249390e+00  1.401826e+00  1.224745e+00